@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
body{
  margin: 0;
  padding: 0;
  background-color:#d5e0ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
img{
  border-radius: 9px;
}
h3,p{
  text-align: center;
  line-height: 1.3;
}
.container{
  background-color: #fff;
  padding: 12px;
  border-radius: 10px;
}
p{
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  font-family: "Outfit";
}
h3{
  font-family: "Outfit";
  color: hsl(218, 44%, 22%);
}